{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ msc_template_comment | comment }}

[DEFAULT]
ignoreip = 127.0.0.1
{% if msc_fail2ban_use_mail %}
destemail = {{ msc_security_admin_mail }}
{% else %}
# destemail =
{% endif %}
sendername = fail2ban
mta = sendmail
{% if msc_fail2ban_use_mail %}
action = %(action_mwl)s
{% else %}
action = %(action_)s
{% endif %}

[sshd]
enabled   = true
maxretry  = 3
findtime  = 10m
bantime   = 10m
ignoreip  = 127.0.0.1/8
banaction = {{ msc_fail2ban_banaction }}

{% if nginx is defined and nginx and (('application' not in group_names and 'postgresql' not in group_names) or 'rproxy' in group_names) %}
[nginx-botsearch]
enabled = true
logpath = /var/log/nginx/*.log
banaction = {{ msc_fail2ban_banaction }}

[nginx-http-auth]
enabled = true
logpath = /var/log/nginx/*.log
banaction = {{ msc_fail2ban_banaction }}

[nginx-limit-req]
enabled = true
logpath = /var/log/nginx/*.log
banaction = {{ msc_fail2ban_banaction }}
{% endif %}
