{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ msc_template_comment | comment }}

# sSMTP aliases
#
# Format:       local_account:outgoing_address:mailhub
#
# where [:port] is an optional port number that defaults to 25.
root:{{ msc_ssmtp_mail_address }}:{{ msc_ssmtp_mail_hub }}
{% if 'orthanc' in group_names %}
orthanc:{{ msc_ssmtp_mail_address }}:{{ msc_ssmtp_mail_hub }}
{% endif %}
{% if 'gnuhealth' in group_names %}
gnuhealth:{{ msc_ssmtp_mail_address }}:{{ msc_ssmtp_mail_hub }}
{% endif %}
