{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ msc_template_comment | comment }}

#
# Config file for sSMTP sendmail
#
# The person who gets all mail for userids < 1000
# Make this empty to disable rewriting.
root=postmaster

# The place where the mail goes. The actual machine name is required no
# MX records are consulted. Commonly mailhosts are named mail.domain.com
mailhub={{ msc_ssmtp_mail_hub }}
AuthUser={{ msc_ssmtp_mail_address }}
AuthPass={{ msc_ssmtp_mail_pw }}
UseTLS=YES

# Where will the mail seem to come from?
#rewriteDomain=

# The full hostname
hostname={{ ansible_facts['hostname'] }}

# Are users allowed to set their own From: address?
# YES - Allow the user to specify their own From: address
# NO - Use the system generated From: address
#FromLineOverride=YES
