{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

#!/bin/sh

{{ msc_template_comment | comment }}

sendmail -t <<ERRMAIL
To: {{ msc_security_admin_mail }}
Subject: $1 inactive at $(hostname)
Content-Transfer-Encoding: 8bit
Content-Type: text/plain; charset=UTF-8

$(systemctl status --full "$1")
ERRMAIL
