{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ psql_template_comment | comment }}

# This file overrides postgresql.conf and drop-in config files with smaller numerical prefixes than 99

{% if psql_listen_remote %}
listen_addresses = '*'
{% endif %}

password_encryption = {{ psql_encryption }}		# md5 or scram-sha-256

shared_buffers = {{ psql_shared_buffers }}

{% if psql_use_cert %}
ssl = on
ssl_cert_file = '{{ psql_hba_path.stdout[:-11] }}{{ psql_cert_path | basename }}'
ssl_key_file = '{{ psql_hba_path.stdout[:-11] }}{{ psql_key_path | basename }}'
ssl_min_protocol_version = {{ psql_tls_min }}
{% else %}
ssl = off
#ssl_cert_file = ''
#ssl_key_file = ''
#ssl_min_protocol_version = ''
{% endif %}

{% if psql_set_datestyle %}
datestyle = '{{ psql_datestyle }}'
{% endif %}

{% if psql_set_timezone %}
timezone = '{{ psql_timezone }}'
{% endif %}

{% if psql_set_locale %}
lc_messages = '{{ psql_locale }}.{{ psql_encoding }}'			# locale for system error message
					# strings
lc_monetary = '{{ psql_locale }}.{{ psql_encoding }}'			# locale for monetary formatting
lc_numeric = '{{ psql_locale }}.{{ psql_encoding }}'			# locale for number formatting
lc_time = '{{ psql_locale }}.{{ psql_encoding }}'
{% endif %}
