{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ nginx_template_comment | comment }}

server {
    listen 80;
    listen [::]:80;
    server_name {{ nginx_rproxy_domain }};
    return 301 https://{{ nginx_rproxy_domain }}$request_uri;
}
