{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ uwsgi_template_comment | comment }}

[Unit]
Description={{ item.description }}
After=syslog.target

[Service]
User={{ item.user }}
ExecStart={{ item.venv }}/bin/uwsgi --cheaper --harakiri --ini {{ item.ini_path }}
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
