{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{
  /**
   * Sensitive configuration options. This file must *not* be
   * publicly-readable. It must only be readable by the users that run
   * the "orthanc" service.
   **/

  // The list of the registered users. Because Orthanc uses HTTP
  // Basic Authentication, the passwords are stored as plain text.
  "RegisteredUsers" : {
{% if or_demo_users %}
    "alice" : "bob",
    "bob" : "alice",
    "admin" : "admin"
{% else %}
    // "alice" : "alicePassword"
{% endif %}
  }
}
