{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ ghcl_template_comment | comment }}

[login]
profile = {{ ghcl_profile_name }}
host = {{ ghcl_host_domain }}
db = {{ ghcl_db }}
expanded = True
login = {{ ghcl_tryton_user }}
