{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ ghcl_template_comment | comment }}

[{{ ghcl_profile_name }}]
host = {{ ghcl_host_domain }}
database = {{ ghcl_db }}
username = {{ ghcl_tryton_user }}

{% if ghcl_demo_db %}
[{{ ghcl_profile_demodb }}]
host = {{ ghcl_host_domain }}
database = {{ ghcl_demo_db_name }}
username = {{ ghcl_tryton_user }}
{% endif %}

{% if ghcl_add_community_server %}
[CommunityServer]
host = federation.gnuhealth.org
database = {{ ghcl_community_db }}
username = admin
{% endif %}
